In [1]:
# Dependencies and Setup

import pandas as pd

In [2]:
# File to Load 
csv_file = "USW00024229.csv"

# Read in file to pandas df
weather_data = pd.read_csv(csv_file)

weather_data

,DATE,ACMH,ACSH,AWND,PRCP,PSUN,SNOW,SNWD,TAVG,TMAX,...,WT12,WT13,WT14,WT15,WT16,WT17,WT18,WT19,WT21,WT22
0,1936-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1936-05-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1936-05-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1936-05-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1936-05-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31152,2021-10-27,NaN,NaN,2.9,0.8,NaN,0.0,0.0,12.7,14.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31153,2021-10-28,NaN,NaN,3.7,1.5,NaN,0.0,0.0,15.2,20.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31154,2021-10-29,NaN,NaN,2.8,10.4,NaN,0.0,0.0,14.8,16.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31155,2021-10-30,NaN,NaN,7.2,0.0,NaN,0.0,0.0,10.2,15.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31156,2021-10-31,NaN,NaN,6.7,0.0,NaN,0.0,0.0,12.9,16.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Convert C to F
weather_data['TMAX']=weather_data['TMAX'].apply(lambda x: x * 1.8 + 32).round(decimals=1)
weather_data['TMIN']=weather_data['TMIN'].apply(lambda x: x * 1.8 + 32).round(decimals=1)
weather_data['TAVG']=weather_data['TAVG'].apply(lambda x: x * 1.8 + 32).round(decimals=1)

In [4]:
# Convert tenths of mm to inches
weather_data['PRCP']=weather_data['PRCP'].apply(lambda x: x * 10 * 0.03937).round(decimals=1)

# Convert mm to inches
weather_data['SNOW']=weather_data['SNOW'].apply(lambda x: x * 0.03937).round(decimals=1)
weather_data['SNWD']=weather_data['SNWD'].apply(lambda x: x * 0.03937).round(decimals=1)

In [5]:
weather_data

,DATE,ACMH,ACSH,AWND,PRCP,PSUN,SNOW,SNWD,TAVG,TMAX,...,WT12,WT13,WT14,WT15,WT16,WT17,WT18,WT19,WT21,WT22
0,1936-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1936-05-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1936-05-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1936-05-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1936-05-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31152,2021-10-27,NaN,NaN,2.9,0.3,NaN,0.0,0.0,54.9,57.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31153,2021-10-28,NaN,NaN,3.7,0.6,NaN,0.0,0.0,59.4,69.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31154,2021-10-29,NaN,NaN,2.8,4.1,NaN,0.0,0.0,58.6,62.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31155,2021-10-30,NaN,NaN,7.2,0.0,NaN,0.0,0.0,50.4,60.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31156,2021-10-31,NaN,NaN,6.7,0.0,NaN,0.0,0.0,55.2,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
         ...
31152    57.92
31153    69.08
31154    62.06
31155    60.08
31156    60.98
Name: TMAX, Length: 31157, dtype: float64